# App
nbproject/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows folder config file
Desktop.ini

# Windows Recycle Bin used on file shares
$RECYCLE.BIN/

#OSX
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Archives
*.7z
*.rar
*.zip
*.gz
*.tar